# Port
Port {{ ssh.port }}

# Use only SSH 2
Protocol 2

# Server keys
HostKey /etc/ssh/{{ ssh.servkey_prefix }}ssh_host_rsa_key
HostKey /etc/ssh/{{ ssh.servkey_prefix }}ssh_host_ed25519_key

# Privilege separation
UsePrivilegeSeparation sandbox

# Logging
SyslogFacility AUTH
LogLevel INFO

# Disable motd
PrintMotd no

# Security restriction
PermitRootLogin no
HostbasedAuthentication no
PermitEmptyPasswords no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no
IgnoreRhosts yes
StrictModes yes
UseDNS no
Compression no
MaxAuthTries 2
TCPKeepAlive no
MaxSessions 2
AllowTcpForwarding no

# Pubkey authentication only
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys

# Connection times
LoginGraceTime 30
ClientAliveInterval 300
ClientAliveCountMax 0

# No X11 forwarding
X11Forwarding no

# Accept env
AcceptEnv LANG LC_*

# Other
