#!/bin/bash

####################
# Backup constants #
####################

BACKUP_PATH={{ backup.path }}
BACKUP_GROUP={{ backup.user.name }}
BACKUP_USER={{ backup.user.name }}
BACKUP_DESTINATIONS=({{ (groups['db'] + groups['backup']) | unique | join(' ') }})
