##
# Default for undefined domain name - 404
##
<VirtualHost *:{{ adminer.port }}>
    {% if ssl.enabled %}

    SSLEngine On

        {% if not letsencrypt.enabled %}

    SSLCertificateFile /etc/ssl/certs/{% if adminer.autosigned %}autosigned.{% endif %}{{ adminer.short_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{% if adminer.autosigned %}autosigned.{% endif %}{{ adminer.short_name }}.key
            {% if not adminer.autosigned %}

    SSLCertificateChainFile /etc/ssl/certs/{{ adminer.short_name }}.cabundle
            {% endif %}
        {% else %}

    SSLCertificateFile /etc/letsencrypt/live/{{ adminer.url }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ adminer.url }}/privkey.pem
        {% endif %}
    {% endif %}

    ServerName default
    Redirect 404 /
 </VirtualHost>

###
# Vhost - adminer
###
<VirtualHost *:{{ adminer.port }}>
    {% if ssl.enabled %}
    SSLEngine On

        {% if not letsencrypt.enabled %}

    SSLCertificateFile /etc/ssl/certs/{% if adminer.autosigned %}autosigned.{% endif %}{{ adminer.short_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{% if adminer.autosigned %}autosigned.{% endif %}{{ adminer.short_name }}.key
            {% if not adminer.autosigned %}

    SSLCertificateChainFile /etc/ssl/certs/{{ adminer.short_name }}.cabundle
            {% endif %}
        {% else %}

    SSLCertificateFile /etc/letsencrypt/live/{{ adminer.url }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ adminer.url }}/privkey.pem
        {% endif %}

    SSLOptions +StrictRequire
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
    SSLHonorCipherOrder on
    SSLCompression off

    AddType application/x-x509-ca-cert      .crt
    AddType application/x-pkcs7-crl         .crl
    {% endif %}

        {% if not adminer.autosigned or letsencrypt.enabled %}

    Header add Strict-Transport-Security "max-age=31536000; preload"
        {% endif %}

    Header set Content-Security-Policy "default-src 'self' 'unsafe-inline'; img-src data: 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; font-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';"

    ServerAdmin {{ adminer.email }}
    DocumentRoot "{{ adminer.path }}"

    ServerName {{ adminer.url }}
    ServerAlias {{ adminer.alias }}

    ErrorLog ${APACHE_LOG_DIR}/{{ mariadb.fulldomain }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ mariadb.fulldomain }}.access.log common

    Alias /adminer {{ adminer.path }}

    <Directory "{{ adminer.path }}">
        Options -Indexes +FollowSymLinks +Includes
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
