{% if ssl.enabled %}

##
# Default for undefined domain name - 404
##
<VirtualHost *:443>
    SSLEngine On
        {% if not letsencrypt.enabled %}

    SSLCertificateFile /etc/ssl/certs/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.key
            {% if not item.autosigned %}

    SSLCertificateChainFile /etc/ssl/certs/{{ item.short_name }}.cabundle
            {% endif %}
        {% else %}

    SSLCertificateFile /etc/letsencrypt/live/{{ item.url }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ item.url }}/privkey.pem
        {% endif %}

    ServerName default
    Redirect 404 /
 </VirtualHost>

{% if ssl.force %}

##
# Force HTTPS everywhere
##
<VirtualHost *:80>
    ServerName {{ item.url }}
    ServerAlias {{ item.alias }}

    Redirect permanent / https://{{ item.url }}/
</VirtualHost>
    {% endif %}

{% endif %}

{% if item.url != item.alias %}

##
# Redirect alias to main site
##
<VirtualHost *:{% if ssl.enabled %}443{% else %}80{% endif %}{% if ssl.enabled and not ssl.force %} *:80{% endif %}>
    {% if ssl.enabled %}

    SSLEngine On
        {% if not letsencrypt.enabled %}

    SSLCertificateFile /etc/ssl/certs/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.key
            {% if not item.autosigned %}

    SSLCertificateChainFile /etc/ssl/certs/{{ item.short_name }}.cabundle
            {% endif %}
        {% else %}

    SSLCertificateFile /etc/letsencrypt/live/{{ item.url }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ item.url }}/privkey.pem
        {% endif %} # not letsencrypt.enabled

    ServerName {{ item.alias }}
    Redirect permanent / https://{{ item.url }}/

    {% else %} # not ssl.enabled

    ServerName {{ item.alias }}
    Redirect permanent / http://{{ item.url }}/
    {% endif %}

</VirtualHost>

{% endif %}

###
# {{ item.name }} vhost
##
<VirtualHost *:{% if ssl.enabled %}443{% else %}80{% endif %}{% if ssl.enabled and not ssl.force %} *:80{% endif %}>
    {% if ssl.enabled %}

    SSLEngine On
        {% if not letsencrypt.enabled %}

    SSLCertificateFile /etc/ssl/certs/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.key
            {% if not item.autosigned %}

    SSLCertificateChainFile /etc/ssl/certs/{{ item.short_name }}.cabundle
            {% endif %}
        {% else %}

    SSLCertificateFile /etc/letsencrypt/live/{{ item.url }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ item.url }}/privkey.pem
        {% endif %}

    SSLOptions +StrictRequire
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
    SSLHonorCipherOrder on
    SSLCompression off
#   SSLSessionTickets Off
    SSLProxyEngine off

    AddType application/x-x509-ca-cert      .crt
    AddType application/x-pkcs7-crl         .crl

    SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    {% endif %}

        {% if not item.autosigned or letsencrypt.enabled %}

    Header add Strict-Transport-Security "max-age=31536000; preload"
        {% endif %}

    Header set Content-Security-Policy "default-src {{ (item.security.allow.default | join(" ")) if item.security.allow.default.0 != None else '' }}; img-src {{ (item.security.allow.img | join(" ")) if item.security.allow.img.0 != None else '' }}; script-src {{ (item.security.allow.script | join(" ")) if item.security.allow.script.0 != None else '' }}; font-src {{ (item.security.allow.font | join(" ")) if item.security.allow.font.0 != None else '' }}; style-src {{ (item.security.allow.style | join(" ")) if item.security.allow.style.0 != None else '' }}; media-src {{ (item.security.allow.media | join(" ")) if item.security.allow.media.0 != None else '' }}; connect-src {{ (item.security.allow.connect | join(" ")) if item.security.allow.connect.0 != None else '' }}; child-src {{ (item.security.allow.frame | join(" ")) if item.security.allow.frame.0 != None else '' }};"

    ServerAdmin {{ item.email }}
    DocumentRoot "{{ item.path }}{{ item.webdir }}"

    ServerName {{ item.url }}
    ServerAlias {{ item.alias }}

    ErrorLog ${APACHE_LOG_DIR}/{{ item.short_name }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.short_name }}.access.log common

    <Directory "{{ item.path }}{{ item.webdir }}">
        Options -Indexes +FollowSymLinks +Includes
        AllowOverride None
        Require all granted
        {% if item.rewritetunnel %}

        <IfModule mod_rewrite.c>
            Options -MultiViews
            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteRule ^(.*)$ {{ item.rewritetunnel }} [QSA,L]
        </IfModule>

        {% endif %}
    </Directory>

    {% for rewritefreedir in item.rewritefreedirs %}

    <Directory "{{ item.path }}{{ item.webdir }}{{ rewritefreedir }}">
        <IfModule mod_rewrite.c>
            RewriteEngine Off
        </IfModule>
    </Directory>

    {% endfor %}
</VirtualHost>
