{% if applications.enabled %}
    {% set server_is_default = (applications.sites + [adminer]).0.short_name == adminer.short_name %}
{% else %}
    {% set server_is_default = 1 %}
{% endif %}


{% if ssl.enabled %}

# Clear redirection to SSL site
server {
    listen 80{% if server_is_default %} default_server{% endif %};
    listen [::]:80{% if server_is_default %} default_server{% endif %};

{% if adminer.url != adminer.alias %}
    server_name {{ adminer.url }} {{ adminer.alias }};
{% else %}
    server_name {{ adminer.url }};
{% endif %}

    include /etc/nginx/sites-common/*;

    return 301 https://{{ adminer.url }}:{{ adminer.port }}$request_uri;
}

{% endif %}

{% if adminer.url != adminer.alias %}
    {% if ssl.enabled %}

# SSL redirection to main site
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ adminer.alias }};

    ssl on;
    {% if letsencrypt.enabled %}

    ssl_certificate /etc/letsencrypt/live/{{ adminer.url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ adminer.url }}/privkey.pem;

    {% else %}

    ssl_certificate /etc/ssl/certs/{% if adminer.autosigned %}autosigned.{% endif %}{{ adminer.short_name }}.crt;
    ssl_certificate_key /etc/ssl/private/{% if adminer.autosigned %}autosigned.{% endif %}{{ adminer.short_name }}.key;

    {% endif %}

    include /etc/nginx/sites-common/*;

    return 301 https://{{ adminer.url }}:{{ adminer.port }}$request_uri;
}

    {% else %}

# Clear redirection to main site
server {
    listen 80;
    listen [::]:80;

    server_name {{ adminer.alias }};

    include /etc/nginx/sites-common/*;

    return 301 http://{{ adminer.url }}:{{ adminer.port }}$request_uri;
}

    {% endif %}
{% endif %}

{% if ssl.enabled %}

# SSL main configuration
server {
    listen {{ adminer.port }}{% if server_is_default %} default_server{% endif %} ssl http2;
    listen [::]:{{ adminer.port }}{% if server_is_default %} default_server{% endif %} ssl http2;

    server_name {{ adminer.url }};
    root {{ adminer.path }};

    ssl on;
    {% if letsencrypt.enabled %}

    ssl_certificate /etc/letsencrypt/live/{{ adminer.url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ adminer.url }}/privkey.pem;

    {% else %}

    ssl_certificate /etc/ssl/certs/{% if adminer.autosigned %}autosigned.{% endif %}{{ adminer.short_name }}.crt;
    ssl_certificate_key /etc/ssl/private/{% if adminer.autosigned %}autosigned.{% endif %}{{ adminer.short_name }}.key;

    {% endif %}

    {% if ssl.force %}

    add_header Strict-Transport-Security "max-age=63072000; preload";

    {% endif %}

    access_log /var/log/nginx/{{ adminer.short_name }}.access.log combined buffer=128k flush=10s;
    error_log /var/log/nginx/{{ adminer.short_name }}.error.log warn;

    include /etc/nginx/sites-common/*;

    index index.php;

    location / {
        try_files $uri $uri/ @rewrites;
    }

    location @rewrites {
        rewrite ^ /index.php last;
    }

    location @indexphp {
        rewrite .* /index.php last;
    }

    try_files $uri @indexphp;
}

{% else %}

# Clear main configuration
server {
    listen {{ adminer.port }}{% if server_is_default %} default_server{% endif %};
    listen [::]:{{ adminer.port }}{% if server_is_default %} default_server{% endif %};

    server_name {{ adminer.url }};
    root {{ adminer.path }};

    access_log /var/log/nginx/{{ adminer.short_name }}.access.log combined buffer=128k flush=10s;
    error_log /var/log/nginx/{{ adminer.short_name }}.error.log warn;

    {% if ssl.force %}

    add_header Strict-Transport-Security "max-age=63072000; preload";

    {% endif %}

    include /etc/nginx/sites-common/*;

    index index.php;

    location / {
        try_files $uri $uri/ @rewrites;
    }

    location @rewrites {
        rewrite ^ /index.php last;
    }

    location @indexphp {
        rewrite .* /index.php last;
    }

    try_files $uri @indexphp;
}

{% endif %}
