{% if adminer.enabled %}
    {% set server_is_default = (applications.sites + [adminer]).0.short_name == item.short_name %}
{% else %}
    {% set server_is_default = applications.sites.0.short_name == item.short_name %}
{% endif %}


{% if ssl.enabled and ssl.force %}

# Clear redirection to SSL site
server {
    listen 80{% if server_is_default %} default_server{% endif %};
    listen [::]:80{% if server_is_default %} default_server{% endif %};

{% if item.url != item.alias %}
    server_name {{ item.url }} {{ item.alias }};
{% else %}
    server_name {{ item.url }};
{% endif %}

    include /etc/nginx/sites-common/*;

    return 301 https://{{ item.url }}$request_uri;
}

{% endif %}

{% if item.url != item.alias %}
    {% if ssl.enabled %}

# SSL redirection to main site
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ item.alias }};

    ssl on;
    {% if letsencrypt.enabled %}

    ssl_certificate /etc/letsencrypt/live/{{ item.url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.url }}/privkey.pem;

    {% else %}

    ssl_certificate /etc/ssl/certs/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.crt;
    ssl_certificate_key /etc/ssl/private/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.key;

    {% endif %}
    {% if ssl.force %}

    add_header Strict-Transport-Security "max-age=63072000; preload";

    {% endif %}

    include /etc/nginx/sites-common/*;

    return 301 https://{{ item.url }}$request_uri;
}

    {% endif %}
    {% if (ssl.enabled and not ssl.force) or not ssl.enabled %}

# Clear redirection to main site
server {
    listen 80;
    listen [::]:80;

    server_name {{ item.alias }};

    include /etc/nginx/sites-common/*;

    return 301 http://{{ item.url }}$request_uri;
}

    {% endif %}
{% endif %}

{% if ssl.enabled %}

# SSL main configuration
server {
    listen 443{% if server_is_default %} default_server{% endif %} ssl http2;
    listen [::]:443{% if server_is_default %} default_server{% endif %} ssl http2;

    server_name {{ item.url }};
    root {{ item.path }}{{ item.webdir }};

    ssl on;
    {% if letsencrypt.enabled %}

    ssl_certificate /etc/letsencrypt/live/{{ item.url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.url }}/privkey.pem;

    {% else %}

    ssl_certificate /etc/ssl/certs/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.crt;
    ssl_certificate_key /etc/ssl/private/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.key;

    {% endif %}
    {% if ssl.force %}

    add_header Strict-Transport-Security "max-age=63072000; preload";

    {% endif %}

    access_log /var/log/nginx/{{ item.short_name }}.access.log combined buffer=128k flush=10s;
    error_log /var/log/nginx/{{ item.short_name }}.error.log warn;

    include /etc/nginx/sites-common/*;

    index {{ item.rewritetunnel }};

    location / {
        try_files $uri $uri/ @rewrites;
    }

    location @rewrites {
        rewrite ^ /{{ item.rewritetunnel }} last;
    }

    location @indexphp {
        rewrite .* /{{ item.rewritetunnel }} last;
    }

    try_files $uri @indexphp;
}

{% endif %}

{% if (ssl.enabled and not ssl.force) or not ssl.enabled %}

# Clear main configuration
server {
    listen 80{% if server_is_default %} default_server{% endif %};
    listen [::]:80{% if server_is_default %} default_server{% endif %};

    server_name {{ item.url }};
    root {{ item.path }}{{ item.webdir }};

    access_log /var/log/nginx/{{ item.short_name }}.access.log combined buffer=128k flush=10s;
    error_log /var/log/nginx/{{ item.short_name }}.error.log warn;

    include /etc/nginx/sites-common/*;

    index {{ item.rewritetunnel }};

    location / {
        try_files $uri $uri/ @rewrites;
    }

    location @rewrites {
        rewrite ^ /{{ item.rewritetunnel }} last;
    }

    location @indexphp {
        rewrite .* /{{ item.rewritetunnel }} last;
    }

    try_files $uri @indexphp;
}

{% endif %}
