#
# Fail2Ban configuration file.
#

[DEFAULT]
bantime  = {{ failtoban.bantime }}
findtime = {{ failtoban.findtime }}
maxretry = {{ failtoban.maxretry }}
ignoreip = {% for ip in failtoban.ignore_ip %}{{ ip }} {% endfor %}

backend  = auto


# Email to send alerts
destemail = {{ users.deployer.email }}
sendername = Fail2Ban

#
# ACTIONS
#

banaction = iptables-multiport
mta = sendmail
protocol = tcp
chain = INPUT

action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s", sendername="%(sendername)s"]
action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s", sendername="%(sendername)s"]

action = %(action_mw)s # default action = %(action_)s

#
# JAILS
#

{% if ssh.enabled %}
[ssh]
enabled  = true
port     = ssh,{{ ssh.port }}
filter   = sshd
logpath  = /var/log/auth.log
maxretry = 3

[ssh-ddos]
enabled  = true
port     = ssh,{{ ssh.port }}
filter   = sshd-ddos
logpath  = /var/log/auth.log
maxretry = 6
{% endif %}

[xinetd-fail]
enabled   = true
filter    = xinetd-fail
port      = all
banaction = iptables-multiport-log
logpath   = /var/log/daemon.log
maxretry  = 2
