#!/bin/bash

###########################################
# Script - Renew Letsencrypt certificates #
###########################################

# Initialisation
CURRENT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
source $CURRENT_DIR'/init.sh'
echo -e "\e[1;35m### Renew SSL certificates with letsencrypt - `date`"

echo -e "\e[0;35m### Renewing all certificates… \e[0m"
{% if nginx.enabled %}
systemctl stop nginx
{% endif %}
{% if apache.enabled %}
systemctl stop apache2
{% endif %}
letsencrypt renew -nvv --standalone --agree-tos
{% if nginx.enabled %}
systemctl start nginx
{% endif %}
{% if apache.enabled %}
systemctl start apache2
{% endif %}
echo -e "\e[0;35m### done\e[0m"

exit 0
