#!/bin/bash

######################
# Database constants #
######################

DATABASE_NAMES=({% for item in applications.sites | map(attribute='dbnames') | list | unique %}{{ item | join(' ') }} {% endfor %})
DATABASE_USER={{ mariadb.root }}
DATABASE_PASSWORD='{{ mariadb.root_password }}'
DATABASE_PORT={{ mariadb.port }}
