[client]
{% if mariadb.ssl %}

ssl = 1
ssl-ca = /etc/ssl/certs/sql-ca.pem
ssl-verify-server-cert

{% for subdomain in mariadb.ssl_server_subdomains %}

ssl-cert = /etc/ssl/certs/sql-client-cert-{{ subdomain }}.pem
ssl-key = /etc/ssl/private/sql-client-key-{{ subdomain }}.pem

{% endfor %}
{% endif %}

port = {{ mariadb.port }}
default-character-set = utf8
