"{{ backup.path }}/*.sql" {
    daily
    rotate 7
    missingok
    copy
    compress
    compresscmd /usr/bin/xz
    compressoptions -1
    compressext .xz
    uncompresscmd /usr/bin/unxz
}

"{{ backup.path }}/*.sql.weekly" {
    weekly
    rotate 4
    missingok
    copy
    dateext
    dateformat %Y-%m-%d
    compress
    compresscmd /usr/bin/xz
    compressoptions -1
    compressext .xz
    uncompresscmd /usr/bin/unxz
}

"{{ backup.path }}/*.sql.monthly" {
    monthly
    rotate 12
    missingok
    copy
    dateext
    dateformat %Y-%m-%d
    compress
    compresscmd /usr/bin/xz
    compressoptions -1
    compressext .xz
    uncompresscmd /usr/bin/unxz
}
