
table filter chain FORWARD {
    interface {{ nat.interfaces.public }} outerface {{ nat.interfaces.private }} mod conntrack ctstate (RELATED ESTABLISHED) ACCEPT;
    interface {{ nat.interfaces.private }} outerface {{ nat.interfaces.public }} ACCEPT;
}

table nat chain POSTROUTING {
   outerface {{ nat.interfaces.public }} MASQUERADE;
}
