# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# Display MotD - only on tty
if [ "$SSH_TTY" -a -x "/usr/local/bin/dynmotd" ]
then
    /usr/local/bin/dynmotd
fi

# Set default editor to vim
export XTERM="xterm-256color"
EDITOR=vim
VISUAL=$EDITOR
export EDITOR VISUAL

# Alias
alias ls='ls --color=auto'
alias ll='ls --color=auto -lah'
alias grep='grep --color=auto'

# Shell coloration
PS1='\[\e[32m\]\u\[\e[0m\]@\H \[\e[31m\][{{env}}]\[\e[0m\] \[\e[37;1m\]\W\[\e[0m\]$ '