# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# Display MotD - only on tty
if [ "$SSH_TTY" -a -x "/usr/local/bin/dynmotd" ]
then
    /usr/local/bin/dynmotd
fi

# History
SAVEHIST=100
HISTFILE=~/.zsh_history
HISTSIZE=80

# Autocompletion
autoload -U compinit promptinit colors
compinit
promptinit

# This will set the default prompt to the walters theme
prompt walters
alias ls='ls --color=auto'
alias ll='ls -lah --color=auto'
alias grep='grep --color=auto'

# Set default editor to vim
export XTERM="xterm-256color"
export EDITOR="vim"
VISUAL=$EDITOR
export EDITOR VISUAL

# Shell
autoload -U colors && colors
PROMPT="%{$fg[green]%}%n%{$reset_color%}@%M %{$fg[red]%}[{{env}}]%{$reset_color%} %{$fg_bold[white]%}%1~ %{$reset_color%}%# "
RPROMPT="[%{$fg_no_bold[magenta]%}%?%{$reset_color%}]"
